<header>
  <div class="nav-bar">
    <div class="nav-left">
      <h1>Dev. Letícia Brondi</h1>
      <h3>Currículo Virtual | Portifólio</h3>
    </div>

    <!-- Menu Hambúrguer -->
    <div class="hamburger-menu">
      <input id="menu__toggle" type="checkbox" />
      <label class="menu__btn" for="menu__toggle">
        <span></span>
      </label>

      <ul class="menu__box">
        <li><a class="menu__item" href="index.html">Home</a></li>
        <li><a class="menu__item" href="sobre.html">Sobre mim</a></li>
        <li><a class="menu__item" href="projetos.html">Meus projetos</a></li>
        <li><a class="menu__item" href="curriculo.html">Currículo</a></li>
        <li><a class="menu__item" href="contato.html">Contato</a></li>

        <!-- Ícones sociais -->
        <div class="nav-social">
          <a href="https://github.com/leticiabrondi" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/leticiabrondi" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.behance.com/leticiabrondi" target="_blank"><i class="fab fa-behance"></i></a>
          <a href="mailto:leticiabrondi06@gmail.com"><i class="fas fa-envelope"></i></a>
        </div>
      </ul>
    </div>
  </div>
</header>
