<header>
    <div class="nav-bar">
      <div class="nav-left">
        <h1>Dev. Letícia Brondi</h1>
        <h3>Currículo Virtual</h3>
      </div>
      <div class="nav-right">
        <ul class="menu-links">
          <li><a href="index.html">Home</a></li>
          <li><a href="sobre.html">Sobre mim</a></li>
          <li><a href="projetos.html">Projetos</a></li>
          <li><a href="curriculo.html">Currículo</a></li>
          <li><a href="contato.html">Contato</a></li>
        </ul>
        <div class="nav-social">
          <a href="https://github.com/leticiabrondi" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/leticiabrondi" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.behance.com/leticiabrondi" target="_blank"><i class="fab fa-behance"></i></a>
          <a href="mailto:leticiabrondi06@gmail.com"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
    </div>
  </header>
  