/* --- CONTATO --- */
#contato {
    color: #f0f0f0;
    padding: 40px 20px;
    text-align: center;
}

#contato h2 {
    color: #fff;
    font-size: 2rem;
    margin-top: 0px;
    margin-bottom: 20px;
    border-bottom: 2px solid #9253e0;
    display: inline-block;
    padding-bottom: 5px;
}

#contato p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #e0e0e0;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
    color: #e0e0e0;
    margin-bottom: 5px;
}

input, textarea {
    width: 80%;
    padding: 10px;
    border: 2px solid #9253e0;
    border-radius: 5px;
    background-color: #202051;
    color: #f0f0f0;
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

button {
    background-color: #9253e0;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #7e5c8a;
    transform: scale(1.05);
}

.social-media {
    margin-top: 45px;
}

.social-media h4 {
    font-size: 1.2rem;
    margin-bottom: 0px;
}

.social-media a {
    color: #9253e0;
    font-size: 2.1rem;
    text-decoration: none;
    margin: 0 5px;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #ffffff;
}

#mensagem-sucesso {
    display: none;
    background-color: #1a1a4f;
    color: #f0f0f0;
    padding: 20px;
    margin-top: 40px;
    border-radius: 10px;
    font-size: 1.1rem;
    animation: fadeIn 0.8s ease-in-out;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

input:invalid, textarea:invalid {
    border-color: #ff8282;
}

input:valid, textarea:valid {
    border-color: #8cff90;
}

input:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 5px #9253e0;
}
