/* --- SOBRE MIM --- */
#sobre-mim {
    padding-bottom: 40px;
    padding-top: 30px;
}

.container-sobre {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.texto-sobre {
    flex: 1 1 500px;
}

.texto-sobre h2 {
  font-size: 2.3rem;
  color: #fff;
  margin-bottom: 20px;
  border-bottom: 2px solid #9253e0;
  display: inline-block;
  padding-bottom: 5px;
}

.texto-sobre p {
    font-size: 1.18rem;
    color: #fff;
}

.icon-direita {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


.social-media {
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

.social-media a {
  color: #fff;
  font-size: 2.4rem;
  text-decoration: none;
  margin: 0 15px;
  transition: color 0.3s;
}

.social-media a:hover {
  color: #9253e0;
}

@media (max-width: 768px) {
    .container-sobre {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0 20px;
    }
  
    .texto-sobre {
      flex: 1 1 100%;
    }
  
    .texto-sobre h2 {
      font-size: 2.3rem;
    }
  
    .texto-sobre p {
      font-size: 1rem;
    }
  
    .icon-direita {
      width: 150px;
      height: 150px;
    }
  }
  

/* --- LINHA DO TEMPO --- */
#linha-do-tempo {
  padding: 40px 20px;
}

.container-timeline {
  max-width: 750px;
  margin: 0 auto;
}

#linha-do-tempo h2 {
  font-size: 2.3rem;
  color: #fff;
  margin-bottom: 40px;
  border-bottom: 2px solid #9253e0;
  display: inline-block;
  padding-bottom: 5px;
}

.timeline {
  border-left: 3px solid #7f45c6;
  padding-left: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.evento {
  position: relative;
  padding-left: 20px;
}

.evento::before {
  content: '';
  position: absolute;
  left: -13px;
  top: 6px;
  width: 16px;
  height: 16px;
  background-color: #9253e0;
  border-radius: 50%;
}

.data {
  font-weight: bold;
  font-size: 1.5rem;
  color: #9253e0;
  margin-bottom: 6px;
  display: inline-block;
}

.evento p {
  font-size: 1.2rem;
  color: #fff;
  margin: 0;
}

/* Responsividade */
@media (max-width: 768px) {
  .timeline {
      padding-left: 15px;
  }

  .evento::before {
      left: -11px;
  }

  #linha-do-tempo h2 {
      font-size: 1.8rem;
  }

  .evento p {
      font-size: 1rem;
  }

  .data {
      font-size: 1rem;
  }
}